In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([np.arange(1,4)],index=['a','b','c'],
columns=["X","Y","Z"]) 
df = df.reindex(index=['a','b','c','d'])

In [4]:
df

     X    Y    Z
a  1.0  2.0  3.0
b  1.0  2.0  3.0
c  1.0  2.0  3.0
d  NaN  NaN  NaN

In [5]:
df["X"] = pd.Series(df["X"], dtype="Int64")
df

      X    Y    Z
a     1  2.0  3.0
b     1  2.0  3.0
c     1  2.0  3.0
d  <NA>  NaN  NaN

In [11]:
df["X"]["d"] is pd.NA

True

In [12]:
df["X"]["c"] is pd.NA

False

In [13]:
df.fillna(0)

   X    Y    Z
a  1  2.0  3.0
b  1  2.0  3.0
c  1  2.0  3.0
d  0  0.0  0.0