In [2]:
import requests
import json
import pandas as pd
import numpy as np
from sodapy import Socrata

In [3]:
import pandas as pd

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("kn79-hsxy", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [5]:
results[0]

{'data_as_of': '2021-12-08T00:00:00.000',
 'start_week': '2020-01-01T00:00:00.000',
 'end_week': '2021-12-04T00:00:00.000',
 'state_name': 'AK',
 'county_name': 'Aleutians East Borough',
 'county_fips_code': '2013',
 'urban_rural_code': 'Noncore',
 'total_death': '15',
 'footnote': 'One or more data cells have counts between 1-9 and have been suppressed in accordance with NCHS confidentiality standards.'}

In [10]:
results_df.head()[['data_as_of', 'start_week', 
                   'end_week', 'county_name',
                   'county_fips_code', 'total_death', 'covid_death']]

,data_as_of,start_week,end_week,county_name,county_fips_code,total_death,covid_death
0,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,Aleutians East Borough,2013,15,NaN
1,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,Anchorage Municipality,2020,4685,510
2,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,Bethel Census Area,2050,227,26
3,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,Denali Borough,2068,12,NaN
4,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,Dillingham Census Area,2070,56,NaN